[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/
*.apk
*.aab
*.unitypackage
*.csproj
*.sln
*.suo
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
.DS_Store

# Third-party asset packs not used in shipped maps
Assets/Entity_SFX_2/
Assets/Entity_SFX_2.meta
Assets/FantasyCastleDemo/
Assets/FantasyCastleDemo.meta
Assets/Industrial_Zone_Modular_Pack/
Assets/Industrial_Zone_Modular_Pack.meta
Assets/MobileDependencyResolver/
Assets/MobileDependencyResolver.meta
Assets/Rallba/
Assets/Rallba.meta
Assets/SciFi Warehouse Kit/
Assets/SciFi Warehouse Kit.meta
Assets/Simple 3D Noise/
Assets/Simple 3D Noise.meta
Assets/SwampHouse/
Assets/SwampHouse.meta
